@font-face {
    font-family: "arialbold";
    src: url("arialbold.ttf");
}

#buttons {
    display: flex;
    padding: 10px;
    flex: inherit;
    justify-content: space-around;
}

#player1 {
    padding: 1%;
    margin-bottom: 5%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.795);
    border: 1px solid rgba(255, 255, 255, 0.795);
    cursor: pointer;
    outline: 2px white;
    border-radius: 10px;
}

#player1:hover {
        background-color: rgba(255, 255, 255, 0.795);
        outline:2px black;
        color: black;
        border: black;
}

#player2 {
    padding: 1%;
    margin-bottom: 5%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.795);
    border: 1px solid rgba(255, 255, 255, 0.795);
    cursor: pointer;
    border-radius: 10px;   
    visibility: hidden;
}

#player2:hover {
    background-color: rgba(255, 255, 255, 0.795); 
 
    color: black;
   
}

#description {
    display: grid;
    flex: inherit;
    justify-content: space-around;
    font-family: "arialbold";
    align-items: center;

}

#nature {
    color: rgba(255, 255, 255, 0.795);  
    width: 100%;
    height: 100px;
    text-align: justify;
    opacity: 0.4;
}

#nature:hover {
    opacity: 1;
}

#human {
    color: rgba(255, 255, 255, 0.795);
    width: 100%;
    height: 100px;
    text-align: justify;
    opacity: 0.4;
}

#human:hover {
    opacity: 1;
}